SECRET_KEY=django-insecure-0!xyg-@g5ao9q1o#06m971@-#w5z1oirqzkf=0mg_v=bk9d_)-
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,your-app.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://your-frontend.vercel.app